body {
    background-image: url("./images/parchment_paper.webp");
    background-size: cover;
}

* {
    font-family: Courier, 'Courier New', monospace;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 450%;
}

h2 {
    font-size: 250%;
}

.title {
    margin-top: 30px;
}

th {
    font-size: 120%;
}

a {
    color: black;
    font-weight: 600;
}

#back {
    margin: 50px;
    font-size: 300%;
    color:black
}

p {
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}
